:root {
    --deep: #2C3531;
    --void: #116466;
    --middle: #D9B08C;
    --vibrant: #FFCB9A;
    --almost-white: #D1E8E2;
}

body{
    background-color: var(--void);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--deep);
}

header h1 {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    color: var(--vibrant);
    padding: 15px;
    margin-right: 1000px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -50px;
}

nav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--middle);
    font-size: 20px;
}

nav a:hover {
    background-color: var(--vibrant);
    color: var(--void);
}

.about-me {
    font-size: 17px;
    color: var(--middle);
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-me h2 {
    font-size: 30px;
    text-decoration: underline;
    margin-left: 50px;
}

.about-me p {
    margin-left: 240px;
}

.work {
    font-size: 17px;
    color: var(--middle);
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.work h2 {
    font-size: 30px;
    text-decoration: underline;
    margin-left: 50px;
}

.work p {
    margin-left: 240px;
}

.contact-me {
    font-size: 17px;
    color: var(--middle);
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contact-me h2 {
    font-size: 30px;
    text-decoration: underline;
    margin-left: 50px;
}

.contact-me p {
    margin-left: 240px;
}

.contact-me h3 {
    font-size: 20px;
    text-decoration: underline;
    margin-left: 240px;
    margin-top: 50px;
}

form {
    max-width: 400px;
}
  
form p {
    margin: 3% 0;
}
  
label {
    display: block;
}
  
button {
    padding: 4% 5%;
    color: var(--almost-white);
    background-color: var(--deep);
    border: none;
    outline: none;
    cursor: pointer;
}

#message {
    margin: 0px;
    height: 150px;
    width: 280px;
}